/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0; /* 余分な外側のマージンを取り除く */
    padding: 0; /* 余分なパディングを取り除く */
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列の設定はそのまま */
    gap: 15px; /* カード間の隙間をなくす */
    margin: 20px auto; /* 上下のマージンのみを指定 */
    padding: 0; /* パディングを0に設定 */
    width: 100%; /* ゲームボードの幅を100%に設定 */
    max-width: 650px; /* 最大幅を300pxに設定 */
}

.card {
    width: 100%;
    padding-top: 145%; /* 縦横比を1:1に設定 */
    background-image: url('./src/card_back.png'); /* カードの表面画像 */
    background-size: cover; /* 画像がカードサイズにフィットするように設定 */
    background-position: center; /* 画像を中心に配置 */
    cursor: pointer;
    transform-style: preserve-3d; /* 3D変換のスタイルを保持 */
    transition: transform 0.6s; /* アニメーションの速度と種類を設定 */
}

.card.flipped {
    transform: rotateY(180deg); /* Y軸を中心に180度回転 */
}

#main-button {
    margin: 20px auto; 
    max-width: 630px; 
    display: flex;
    justify-content: flex-start; 
}

.button {
    min-height: 60px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #f5c8ac;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #f7d8bc;
}

#modal {
    display: none; /* デフォルトでは非表示 */
    position: fixed; /* 画面中央に表示 */
    z-index: 1; /* 他の要素より前面に */
    left: 0;
    top: 100px;
    width: 100%; /* 全幅 */
    height: 100%; /* 全高 */
    overflow: auto; /* 外部コンテンツがオーバーフローしたらスクロール可能に */
    background-color: rgba(0, 0, 0, 0.4); /* 黒の半透明背景 */
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 上部マージンを減らして中央寄せ */
    padding: 50px;
    border: 1px solid #888;
    width: 50%; /* コンテンツの幅を大きくする */
    min-width: 300px; /* 最小幅を設定 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* 影をつける */
    font-size: 50px;
    color: red;
}

.close {
    color: #aaa;
    margin-top: 30px;
    float: right;
    font-size: 100px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

